{% extends "inventory/base.html" %}
{% load i18n %}
{% load humanize %}
 
{% block content %}
 
    <h1>{% trans "Create buy items for" %} {{ buy.name }}</h1>
    
    <p>ID: {{ buy.id }}</p>

    <p>{% trans "Provider:" %} {{buy.third_party}}</p>
    
    <button type="button" class="btn btn-primary" hx-get="{% url 'create-buy-item-form' %}" hx-target="#buyitemforms" hx-swap="beforeend">
        {% trans "Add item to buy" %}
    </button>
    <button type="button" class="cancel-form btn btn-danger">{% trans "Close" %}</button>
 
    <div id="buyitemforms">
        
    </div>

    {% for buy_item in buy_items %}
    
    {% include "inventory/buy_item_detail.html" %}
    
    {% endfor %}

    {% if buy_items %}
    <div class="mt-3">
        <strong>{% trans "Base" %}:</strong> ${{ buy.base_total|floatformat:2|intcomma }}
        <strong>{% trans "VAT" %}:</strong> ${{ buy.vat_total|floatformat:2|intcomma }}
        <strong>{% trans "Discount" %}:</strong> ${{ buy.discount_total|floatformat:2|intcomma }}
        <strong>{% trans "Total" %}:</strong> ${{ buy.total|floatformat:2|intcomma }}
    </div>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.cancel-form').forEach(button => {
                button.addEventListener('click', function() {
                    const formRowId = this.dataset.formRowId;
                    const formRow = document.getElementById("buyitemforms");
                    if (formRow) {
                        formRow.setHTMLUnsafe("<div></div>");  // Remove the form from the DOM
                    }
                    location.reload();  // Reload the page to refresh the list of buy items
                });
            });
        });
    </script>
{% endblock %}